{% load static search_tags %}
<section id="featured-products" class="product-store">
  <div class="container-md">
    <div class="display-header d-flex align-items-center justify-content-between">
      <h2 class="section-title text-uppercase">{{title}}</h2>
      {% comment %} <div class="btn-right">
        <a href="#" class="d-inline-block text-uppercase text-hover fw-bold">Посмотреть все</a>
      </div> {% endcomment %}
    </div>
    <div class="product-content padding-small">
      {% if show_search_panel %}
      {% render_search_panel %}
      {% endif %}
      <div id="content-container" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">
        {% for object in objects %}
        {% include 'modals/_product_card.html' with object=object %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>


{% include 'modals/_quick_view.html' with objects=objects %}
