{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    {% include 'base/_list_products.html' with objects=products  title="" %}
    {% if products.has_next %}
    <div class="d-flex justify-content-center">
        <button id="load-more-btn" class="load-more-button btn btn-primary px-4" 
            data-next-page="{{ products.next_page_number }}">
        Подгрузить еще
    </button>
    </div>
    <div id="loading-indicator"  style="display: none;">Загрузка...</div>
    {% endif %}

    <div class="mb-5"></div>
{% endblock %}

{% block modal %}
  {% include 'account/modal/login.html' %}
  {% include 'basket/modal/basket.html' %}
{% endblock %}

{% block js %}
{{ block.super }}
<script src="{% static 'products/js/products.js' %}"></script>
{% endblock %}
