{% load static %}

{% for object in objects %}
<!-- quick view -->
<div class="modal fade" id="modaltoggle_{{ object.product.id }}" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog modal-fullscreen-md-down modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="col-lg-12 col-md-12 me-3">
          <div class="image-holder d-flex justify-content-center">
            <a href="{% url 'product' object.slug object.product.pk %}" class="d-block" target="_blank" rel="noopener noreferrer">
              <img class="img-fluid d-block mx-auto" src="{{ MEDIA_URL }}{{ object.product.get_path_image_thumbnail }}" alt="{{ object.product.title }}">
            </a>
          </div>
        </div>
        <div class="col-lg-12 col-md-12">
          <div class="summary">
            <div class="summary-content fs-6">
              <div class="product-header d-flex justify-content-between mt-4">
                <h3 class="display-7">
                  <a href="{% url 'product' object.slug object.product.pk %}" target="_blank" rel="noopener noreferrer">{{ object.product.title }}</a>
                </h3>
                <div class="modal-close-btn">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                  </button>
                </div>
              </div>
              <span class="product-price fs-3">{{ object.product.price }} ₽</span>
              <div class="product-details">
                <p class="fs-7">{{ object.product.desc|truncatechars:100 }}</p>
              </div>
              <form class="variations-form shopify-cart" data-qv-form="{{ object.product.id }}">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ object.product.id }}">
                <input type="hidden" name="color" value="">
                <input type="hidden" name="size" value="">
                <input type="hidden" name="quantity" value="1">

                <div class="mb-3">
                  <strong class="d-block mb-2">Цвет</strong>
                  <div class="d-flex flex-wrap gap-2" data-qv-colors>
                    {% for color, items in object.colors_grouped.items %}
                      <input class="btn-check" type="radio" autocomplete="off"
                             name="qv_color_{{ object.product.id }}"
                             id="qv_color_{{ object.product.id }}_{{ forloop.counter }}"
                             value="{{ color }}">
                      <label class="btn btn-outline-dark btn-sm"
                             for="qv_color_{{ object.product.id }}_{{ forloop.counter }}">{{ color }}</label>
                    {% endfor %}
                  </div>
                </div>

                <div class="mb-3">
                  <strong class="d-block mb-2">Размер</strong>
                  <div class="d-flex flex-wrap gap-2" data-qv-sizes>
                    {% for color, items in object.colors_grouped.items %}
                      {% for item in items %}
                        {% if item.cnt > 0 or item.in_basket %}
                          <input class="btn-check" type="radio" autocomplete="off"
                                 name="qv_size_{{ object.product.id }}"
                                 id="qv_size_{{ object.product.id }}_{{ forloop.parentloop.counter }}_{{ forloop.counter }}"
                                 value="{{ item.size }}">
                          <label class="btn btn-outline-dark btn-sm"
                                 for="qv_size_{{ object.product.id }}_{{ forloop.parentloop.counter }}_{{ forloop.counter }}">{{ item.size }}</label>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                  </div>
                </div>

                <div class="d-none" data-qv-variants>
                  {% for color, items in object.colors_grouped.items %}
                    {% for item in items %}
                      <span data-color="{{ color }}" data-size="{{ item.size }}" data-cnt="{{ item.cnt|default:0 }}" data-store-id="{{ item.store_id }}" data-in-basket="{% if item.in_basket %}1{% else %}0{% endif %}"></span>
                    {% endfor %}
                  {% endfor %}
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="quantity d-flex pb-4">
                      <div
                        class="qty-number qty-number-minus d-flex justify-content-center align-items-center text-center">
                        <span class="increase-qty minus" role="button" tabindex="0" aria-label="Уменьшить количество" data-qv-qty-minus>
                          <svg class="minus">
                            <use xlink:href="#minus"></use>
                          </svg>
                        </span>
                      </div>
                      <input type="number" class="input-text text-center" step="1" min="1" value="1" title="Qty" data-qv-qty>
                      <div
                        class="qty-number align-top qty-number-plus d-flex justify-content-center align-items-center text-center">
                        <span class="increase-qty plus" role="button" tabindex="0" aria-label="Увеличить количество" data-qv-qty-plus>
                          <svg class="plus">
                            <use xlink:href="#plus"></use>
                          </svg>
                        </span>
                      </div>
                    </div>
                    <div class="text-danger small mt-1" style="display:none;" data-qv-stock-msg></div>
                  </div>
                  <div class="col-md-6">
                    <a rel="nofollow" data-no-instant="" href="#" class="out-stock button">Out of stock</a>
                    <button type="submit" class="btn btn-medium btn-black hvr-sweep-to-right" data-qv-submit>В корзину</button>
                  </div>
                </div>
              </form>
              <!-- variations-form -->
              <div class="categories d-flex flex-wrap pt-3">
                <strong class="pe-2">Категория:</strong>
                <a href="#" title="categories">{{ object.product_category }}, материал {{ object.product.get_upper_material_display | lower}} </a>
              </div>
              <div class="categories d-flex flex-wrap pt-3">
                <strong class="pe-2">Страна производитель:</strong>
                <a href="#" title="categories">{{ object.product.get_country_display }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / quick view -->
{% endfor %}
